  @font-face {
    font-family: police1;
    src: url("fonts/Combinedd.otf");
  }

  .navbar {
    font-family: 'police1';
    background: linear-gradient(280deg, rgba(77, 168, 112, 1) 0%, rgba(193, 4, 252, 1) 85%);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    outline: none;
    /* font-size: 1rem; */
  }

  .navbar-item {
    text-decoration: none;
    color: white;
    outline: none;
  }

  .navbar a:hover {
    color: rgba(77, 168, 112, 1);
  }

  .navbar>.title.is-1 {
    font-family: 'police1';
    color: white;
  }

  h1.title.is-1 {
    color: white;
    padding: 1.5rem;
  }

  .card-link {
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    /* border-radius: 16px; */
  }

  .card-link:hover .card {
    color: #c104fc;
    border-color: #c104fc;
    border-style: solid;
    /* border-radius: 16px; */
    /* transform: translateY(-2px);
    transition: all 0.3s; */
  }

  audio,
  canvas,
  iframe,
  img,
  svg,
  video, embed {
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  }

  /* ENTÊTE */
  /* .navbar {
    font-family: 'police1';
    background: linear-gradient(280deg, rgba(77, 168, 112, 1) 0%, rgba(193, 4, 252, 1) 85%);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    outline: none;
    font-size: 1rem;
  }

  .navbar-item {
    text-decoration: none;
    color: white;
    outline: none;
  }

  .navbar a:hover {
    color: rgba(77, 168, 112, 1);
  }

  .navbar>.title.is-1 {
    font-family: 'police1';
    color: white;
  }

  .navbar>.title {
    color: white;
  } */



  /* 
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  } */

  /* body {
    background-color: white;
    color: var(--text);
    background-color: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
    margin: 0;
  }

  body>header {
    text-align: center;
    padding: 0 0.5rem 2rem 0.5rem;
    grid-column: 1 / -1;
  }

  .card {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }

  .card .card-body {
    padding: 10px;
  }

  .card h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .card p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
  }

  /* RESET */

  
  /* PARAMÈTRE DE BASE DE BOUTTON */
  /* .button {
    margin: 0;
    width: auto;
    padding: 0.8rem;
    background-color: white;
  } */


  /* MENU */

  /* .menu {
    position: inherit;
    width: 100vw;
    left: 0;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 1) 25%);
  }

  .menu-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
  }

  header .button {
    background-color: none;
    color: rgb(193, 4, 252);
    border: 1px solid rgb(193, 4, 252);
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 16px;
  }

  header input {
    font-family: police1;
  }

  header .button:hover {c
    bakground-color: rgb(193, 4, 252);
    color: white;
  } */



  /* GRILLE HOMEPAGE */
  /* 
  .grid-section {
    top: 15vh;
    position: relative;
    display: grid;
  } */

  /* MOSAIC MEMOIRE */
  /* 
  .grid1 {
    position: relative;
    grid-column: 1 / 6;
    width: 100%;
    margin: none;
    padding: 1rem;
    left: 0;
  }

  #mosaic ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-start;
  }

  #mosaic li {
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 23%;
    overflow: hidden;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 16px;
    box-shadow: 2px 4px 8px 2px rgba(218, 109, 109, 0.2), 0 6px 20px 0 rgba(216, 24, 24, 0.19);

  } */

  /* FAIRE UNE GRID POUR QUE LES BOX AIELLENT TOUTES LA MÊME HAUTEUR */


  /* #mosaic li:hover {
    color: #c104fc;
    border-color: #c104fc;
    border-style: solid;
    border-radius: 16px;
  }

  #mosaic img {
    max-width: 100%;
    border-radius: 16px;
  }

  #mosaic a {
    text-decoration: none;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: inherit;
    width: auto;
  }

  #mosaic span {
    display: block;
    margin: 1rem;
  } */


  /* LISTE ANNÉE, tag, etc */

  /* .grid2 {
    position: relative;
    display: flex;
    grid-column: 6/ 6;
    right: 0;
    padding: 2rem;
    font-size: 0.8rem;
    justify-items: left;
    height: 100vh;

  }

  .list ul {
    margin: 1rem;
    height: auto;
    width: 100%;
    align-items: center;
  }

  .list li {
    width: fit-content;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1rem;
  }

  .list a {
    padding: 0.4rem;
    background-color: #c104fc;
    color: white;
    border-radius: 12px;
    margin: 1rem;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  .list a:hover {
    color: rgba(77, 168, 112, 1);
  }

  .list hr {
    color: #c104fc;
    width: 50%;
  } */

  /* ITEM PAGE  */

  /* .cover {
    position: relative;
    width: 100%;
  }

  embed {
    display: inherit;
    width: 800px;
    height: 700px;
    position: relative;
    margin: 0 auto;
    padding: 0.2rem;
    border-color: #c104fc;
    border-style: solid;
    border-radius: 16px;
  }

  .memoire img {
    max-width: 40%;
    margin: 0.5rem;
  } */